<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Required uploads</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/path/to/your/custom.css">
</head>
<body>
    <div class="container mt-5">
        <form th:object="${reupload}" action="/adduploads" enctype="multipart/form-data" method="post" class="needs-validation" novalidate>

            <div class="row">
                <div class="col-md-6">
                    <div th:each="field : ${reupload}" class="form-group">
                        <label th:text="${field.name}"></label>
                        <input th:name="${field.name}" th:type="${field.type}" class="form-control" />
                        <p th:text="${field.description}" class="text-muted"></p>
                    </div>
                </div>
            </div>
            <input type="hidden" name="claimid" th:value="${claimid}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
